*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: white;
}
body{
    background-image: linear-gradient(to right , #001 , #123);
    height: 100vh;
}
.header{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    font-size: 40px;
    color: white;
    transition: 0.5s;
    padding-bottom: 5px;
}
.btn{
    display: flex;
    justify-content: flex-end;
}
.btn_transformathion{
    margin-right: 10px;
    padding: 5px 10px; 
    background-color: #0080ff;
    color: white;
    border: 0px solid #0080ff;
    border-radius: 10px;
    font-size: 17px;
    transition: 0.5s;
}
.btn_transformathion:hover{
    background-color: white;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
}
.container{
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.first , .second{
    background-color: rgba(255, 255, 255, 0.1);
    width: 45%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h2{
    padding-bottom: 10px;
    transition: 0.5s;
}
.inputs{
    width: 100%;
}
.div_user , .div_code{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    gap: 10px;
}
label{
    font-size: 20px;
}
input{
    border-radius: 100px;
    text-align: center;
    width: 80%;
    padding: 7.5px;
    outline: none;
    color: black;
    transition: 0.5s;
}
input:focus{
    transform: scale(1.1);
}
h2:hover{
    padding: 0px 10px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 100px;
    color: black;
    cursor: pointer;
}

